Vagrant.configure(2) do |config|
    config.vm.box = 'puppetlabs/debian-8.2-32-puppet'

    config.vm.network 'forwarded_port', guest: 80,   host: 8000, auto_correct: true
    config.vm.network 'forwarded_port', guest: 9000, host: 9000, auto_correct: true

    config.vm.provision 'puppet' do |puppet|
        puppet.options          = '--verbose --debug'
        puppet.module_path      = 'puppet/modules'
        puppet.environment      = 'default'
        puppet.environment_path = 'puppet/environments'
    end
end
